###### Rock Paper Scissors Codes!

kullanıcı1= input("ismin nedir?")
kullanıcı2= input("peki ya senin ismin?")

kullanıcı1_cevap = input("%s, taş,kağıt veya makas?"% kullanıcı1)
kullanıcı2_cevap = input("%s, taş,kağıt veya makas?"%  kullanıcı2)

def karşılaştırma(k1, k2):
    if k1 == k2:
        return("Berabere!")
    elif k1 == 'taş':
        if k2 == 'makas':
            return("taş kazandı!")
        else:
            return("kağıt kazandı!")
    elif k1 == 'makas':
        if k2 == 'kağıt':
            return("makas kazandı!")
        else:
            return("taş kazandı!")
    elif k1 == 'kağıt':
        if k2 == 'taş':
            return("kağıt kazandı!")
        else:
            return("makas!")
    else:
        return("herhangi birşey seçmedin,tekrar dene.")
        
print(karşılaştırma(kullanıcı1_cevap, kullanıcı2_cevap))





-------------------------------------------------------------
-------------------------------------------------------------
####### Mors Translatör :)


Morskodu = { 'A':'.-', 'B':'-...', 
                    'C':'-.-.', 'D':'-..', 'E':'.', 
                    'F':'..-.', 'G':'--.', 'H':'....', 
                    'I':'..', 'J':'.---', 'K':'-.-', 
                    'L':'.-..', 'M':'--', 'N':'-.', 
                    'O':'---', 'P':'.--.', 'Q':'--.-', 
                    'R':'.-.', 'S':'...', 'T':'-', 
                    'U':'..-', 'V':'...-', 'W':'.--', 
                    'X':'-..-', 'Y':'-.--', 'Z':'--..', 
                    '1':'.----', '2':'..---', '3':'...--', 
                    '4':'....-', '5':'.....', '6':'-....', 
                    '7':'--...', '8':'---..', '9':'----.', 
                    '0':'-----', ', ':'--..--', '.':'.-.-.-', 
                    '?':'..--..', '/':'-..-.', '-':'-....-', 
                    '(':'-.--.', ')':'-.--.-'} 
  
  def şifreleme(mesaj): 
    
    şifre = '' 
    
    for sözcük in mesaj: 
       
       if sözcük != ' ': 
  
            
            
            şifre += Morskodu[sözcük] + ' '
       
       else: 
             şifre += ' '
  
    return şifre 
   



def gerişifre(mesaj): 
  

    mesaj += ' '
  
    geriyeşifre = '' 
   
   geriyet = '' 
   
   for sözcük in mesaj: 
  
        
        if (sözcük != ' '): 
   
            i = 0 
            
          geriyet += sözcük 
        
        else:
        
            i += 1
            
            if i == 2 : 
               
               geriyeşifre += ' '
           
           else: 
               
               geriyeşifre += list(Morskodu.keys())[list(Morskodu 
               
               .values()).index(geriyet)] 
               
               geriyet = '' 
  
  return geriyeşifre 





def main(): 
   
   mesaj = "selamlar"
    
    sonuç = şifreleme(mesaj.upper()) 
    
    print (sonuç) 
  
    mesaj = "... . .-.. .- -- .-.. .- .-. "
   
   sonuç = gerişifre(mesaj) 
    
    print(sonuç)

if __name__ == '__main__':   
    
    main() 
####################################################

