kullanıcı1= input("ismin nedir?")
kullanıcı2= input("peki ya senin ismin?")

kullanıcı1_cevap = input("%s, taş,kağıt veya makas?"% kullanıcı1)
kullanıcı2_cevap = input("%s, taş,kağıt veya makas?"%  kullanıcı2)

def karşılaştırma(k1, k2):
    if k1 == k2:
        return("Berabere!")
    elif k1 == 'taş':
        if k2 == 'makas':
            return("taş kazandı!")
        else:
            return("kağıt kazandı!")
    elif k1 == 'makas':
        if k2 == 'kağıt':
            return("makas kazandı!")
        else:
            return("taş kazandı!")
    elif k1 == 'kağıt':
        if k2 == 'taş':
            return("kağıt kazandı!")
        else:
            return("makas!")
    else:
        return("herhangi birşey seçmedin,tekrar dene.")
        
print(karşılaştırma(kullanıcı1_cevap, kullanıcı2_cevap))
