###### Rock Paper Scissors Codes!

kullanıcı1= input("ismin nedir?")
kullanıcı2= input("peki ya senin ismin?")

kullanıcı1_cevap = input("%s, taş,kağıt veya makas?"% kullanıcı1)
kullanıcı2_cevap = input("%s, taş,kağıt veya makas?"%  kullanıcı2)

def karşılaştırma(k1, k2):
    if k1 == k2:
        return("Berabere!")
    elif k1 == 'taş':
        if k2 == 'makas':
            return("taş kazandı!")
        else:
            return("kağıt kazandı!")
    elif k1 == 'makas':
        if k2 == 'kağıt':
            return("makas kazandı!")
        else:
            return("taş kazandı!")
    elif k1 == 'kağıt':
        if k2 == 'taş':
            return("kağıt kazandı!")
        else:
            return("makas!")
    else:
        return("herhangi birşey seçmedin,tekrar dene.")
        
print(karşılaştırma(kullanıcı1_cevap, kullanıcı2_cevap))





-------------------------------------------------------------
-------------------------------------------------------------
####### Mors Translatör :)


Morskodu = { 'A':'.-', 'B':'-...', 
                    'C':'-.-.', 'D':'-..', 'E':'.', 
                    'F':'..-.', 'G':'--.', 'H':'....', 
                    'I':'..', 'J':'.---', 'K':'-.-', 
                    'L':'.-..', 'M':'--', 'N':'-.', 
                    'O':'---', 'P':'.--.', 'Q':'--.-', 
                    'R':'.-.', 'S':'...', 'T':'-', 
                    'U':'..-', 'V':'...-', 'W':'.--', 
                    'X':'-..-', 'Y':'-.--', 'Z':'--..', 
                    '1':'.----', '2':'..---', '3':'...--', 
                    '4':'....-', '5':'.....', '6':'-....', 
                    '7':'--...', '8':'---..', '9':'----.', 
                    '0':'-----', ', ':'--..--', '.':'.-.-.-', 
                    '?':'..--..', '/':'-..-.', '-':'-....-', 
                    '(':'-.--.', ')':'-.--.-'} 
  
  def şifreleme(mesaj): 
    
    şifre = '' 
    
    for sözcük in mesaj: 
       
       if sözcük != ' ': 
  
            
            
            şifre += Morskodu[sözcük] + ' '
       
       else: 
             şifre += ' '
  
    return şifre 
   



def gerişifre(mesaj): 
  

    mesaj += ' '
  
    geriyeşifre = '' 
   
   geriyet = '' 
   
   for sözcük in mesaj: 
  
        
        if (sözcük != ' '): 
   
            i = 0 
            
          geriyet += sözcük 
        
        else:
        
            i += 1
            
            if i == 2 : 
               
               geriyeşifre += ' '
           
           else: 
               
               geriyeşifre += list(Morskodu.keys())[list(Morskodu 
               
               .values()).index(geriyet)] 
               
               geriyet = '' 
  
  return geriyeşifre 





def main(): 
   
   mesaj = "selamlar"
    
    sonuç = şifreleme(mesaj.upper()) 
    
    print (sonuç) 
  
    mesaj = "... . .-.. .- -- .-.. .- .-. "
   
   sonuç = gerişifre(mesaj) 
    
    print(sonuç)

if __name__ == '__main__':   
    
    main() 
####################################################

Love Calculator With Horoscopes !


POINTS = 0

Burçlar= ["Koç","Boğa","İkizler","Yengeç","Aslan","Başak","Terazi","Akrep","Yay","Oğlak","Kova","Balık"]
print ("Aşk ölçere Hoşgeldin.")
Love1 = input("Adını Gir\n")
Love2 = input("Sevdiğinin Adını Gir\n")
Love1Burç = input("Burcun ?")
Love2Burç = input("Sevdiğinin Burcu?")
 
L1 = (len(Love1))
L2 = (len(Love2))

S1 = (Love1[:1])
S2 = (Love2[:1])

L1B = Love1Burç
L2B = Love2Burç
 
if L1 == L2:
    POINTS = POINTS + 5
 
if S1 == "a" or "e" or "i" or "o" or "u":
    POINTS = POINTS + 2.5
else:
    POINTS = POINTS + 1
if S2 == "a" or "e" or "i" or "o" or "u":
    POINTS = POINTS + 0.5
else:
    POINTS = POINTS + 0.5
if L1B  and L2B == "Koç" or "Oğlak" or "Yay":
    POINTS = POINTS -3
if L1B and L2B == "Boğa" or "Balık" or "Akrep" or "Terazi" or "Başak" or "Yengeç" or "İkizler":
    POINTS = POINTS +3
if L1B or L2B == "Koç" and L2B or L1B == "Boğa" or "İkizler" or "Aslan" or "Terazi" or "Akrep" or "Yay":
    POINTS = POINTS +3
if L1B or L2B == "Koç" and L2B or L1B == "Yengeç" or "Başak" or "Oğlak" or "Balık":
    POINTS = POINTS -3
if L1B  or L2B== "Boğa" and L2B  or L1B == "İkizler" or "Yay" or "Balık":
    POINTS = POINTS -3
if L1B or L2B == "Boğa" and L2B or L1B == "Yengeç" or "Aslan" or "Başak" or "Terazi" or "Akrep" or "Oğlak":
    POINTS = POINTS +3
if L1B or L2B == "İkizler" and L2B or L1B == "Yengeç" or "Aslan" or "Terazi" or "Akrep" or "Kova":
    POINTS = POINTS +3
    
if L1B or L2B == "İkizler" and L2B or L1B == "Başak" or "Yay" or "Oğlak" or "Balık":    
    POINTS = POINTS -3
if L1B or L2B == "Yengeç"  and L2B or L1B == "Aslan" or "Akrep" or "Oğlak" or "Balık":
    POINTS = POINTS +3
if L1B  or L2B == "Yengeç"  and L2B or L1B == "Başak" or "Terazi" or "Yay" or "Kova":
    POINTS = POINTS -3
if L1B or L2B == "Aslan"   and L2B or L1B== "Oğlak" or "Başak":
    POINTS = POINTS -3
if L1B or L2B == "Aslan"   and L2B or L1B == "Terazi" or "Akrep" or "Yay" or "Kova" or "Balık":
    POINTS = POINTS +3
if L1B or L2B == "Başak"   and L2B or L1B == "Terazi" or "Yay" or "Oğlak" or "Terazi" or "Akrep" or "Yay":
    POINTS = POINTS +3
if L1B or L2B == "Başak"   and L2B or L1B == "Kova" or "Akrep" or "Balık":
    POINTS = POINTS -3
if L1B or L2B == "Terazi"  and L2B or L1B == "Akrep" or "Yay" or "Kova":
    POINTS = POINTS +3
if L1B or L2B == "Terazi"  and L2B or L1B == "Oğlak" or "Balık":
    POINTS = POINTS -3
if L1B or L2B == "Akrep"   and L2B or L1B == "Yay" or "Kova" or "Oğlak":
    POINTS = POINTS -3
if L1B or L2B == "Akrep"   and L2B or L1B == "Balık":
    POINTS = POINTS +3
if L1B or L2B == "Yay"    and L2B or L1B == "Oğlak" or "Balık":
    POINTS = POINTS -3
if L1B or L2B == "Yay"    and L2B or L1B == "Kova":
    POINTS = POINTS +3
if L1B or L2B == "Oğlak"  and L2B or L1B == "Balık" or "Kova":
    POINTS = POINTS +3
if L1B or L2B == "Kova"   and L2B or L1B == "Balık":
    POINTS = POINTS -3
if POINTS > 5 :
    print("Aşk Puanın",POINTS,"çıktı süper gerçekten. söylemediysen şansını dene ;)")
if POINTS < 5 :
    print("Aşk Puanın",POINTS,"çıktı kötü gibi ama bence sen şansını denemeden vazgeçme :)")
if POINTS == 5 :
    print("Aşk Puanın",POINTS,"meh,şansın kesinlikle var acele etme ama şansını kesinlikle dene :)")
